html,body {
  height: 100%;
}
#main {
  font-size: 20pt;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
#answer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.answer-text {
  width: 100px;
}
.modal {
  font-family: "Roboto";
  font-size: 20pt;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000060;
  display: flex;
  flex-direction: column;
}
.modal-content {
  background-color: #f8f8f8;
  box-shadow: 0 4px 23px 0 #000000c8;
  width: 80%;
  max-height: 90%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 25px;
}
.emoji {
  height: 150px;
  font-size: 150px;
  padding-bottom: 40px;
}
.emoji::after {
  content: "";
  height: 100%;
  display: inline-block;
}